/* CSS Chung */
*{
    box-sizing: border-box;
}
:root{
    --bg1: #FFF5EC;
    --bg2: #FFEDDE;
    --bg3: #FE043C;
    --fcolor: #2E266F;
    --fcnormal: #FFFFFF;
    --fco: #707070;
    --fzlogo: 72px;
    --fztitle: 48px;
    --fzp: 14px;
    --fzpr: 24px;
    --fznav: 16px;
    --fz30: 30px;
}
body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

/* Header */
header{
    width: 1920px;
    height: 2376px;
    background-color: var(--bg1);
    position: relative;
    background-color: var(--bg1);
}
header #top{
    width: 1920px;
    height: 1210px;
    display: flex;
    flex-wrap: wrap;
    padding-left: 60px;
}

header #top #topleft{
    width: 1395px;
    padding: 20px 30px;
}
header #top #topright{
    width: 514px;
    height: 1210px;
    background-color: var(--bg3);
}

header #Menu{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
header #logo{
    padding-bottom: 10px;
    font-size: var(--fzlogo);
    color: var(--bg3);
    font-weight: bold;
}
header ul{
    margin: auto auto;
    list-style-type: none;
}
header li{
    float: left;
    margin-left: 40px;
    font-size: var(--fznav);
    color: var(--fcolor);
}
header a{
    text-decoration: none;
}
header #mainheader{
    line-height: 20%;
    margin-top: 20%;
}
header #topleft h1{
    font-size: 200px;
    color: var(--fcolor);
    opacity: 0.1;
    font-weight: bold ;
}
header #topleft h2{
    font-size: var(--fzlogo);
    color: var(--fcolor);
}
header #search{
    /* border: red solid 1px; */
    width: 670px;
    height: 90px;
    position: relative;
}
header #search #text{
    width: 100%;
    height: 100%;
    font-size: 18px;
    border: none;
    padding-left: 50px;
}
header #search #button{
    position: absolute;
    height: 72px;
    width: 200px;
    right: 0px;
    top: 50%;
    transform: translate(0,-50%);
    border-radius: 60px 0px 0px 0px;
    background-color: var(--bg3);
    color: var(--fcnormal);
    font-size: var(--fz30);
}
header #location{
    border-radius:  0px 100px 100px 0px;
    background-color: var(--bg3);
    width: 280px;
    height: 65px;
    position: absolute;
    left: 0px;
    top: 996px;
    display: flex;
    text-align: center;
    color: var(--fcnormal);

}
#location svg{
   display: inline-block;
   margin: auto 0;
   margin-left: 50px;
}
#location h3{
    margin: auto 0;
    margin-left: 20px;
    font-size: var(--fz30);
}
header #top #topright{
    width: 25%;
    background-color: var(--bg3);
    position: relative;
    /* color: var(--fcnormal); */
}
#topright .container {
    width: 100%;
    height: 50%;
    text-align: center;
    position: relative;
    top:33px ;
    left: 50%;

}
#topright .item{
    float: left;
    position: relative;
    margin-left: 5px;
}
#topright .item #arrow{
    margin-top: 20px;
}
#topright .item p{
    color: var(--fcnormal);
}
#topright #carousel{
    position: absolute;
    left:207px;
    right: 135px;
    top: 971px;
    bottom: 174px;
}
header img{
    position: absolute;
    width: 878px;
    height: 870px;
    left: 827px;
    top: 250px;
}
header #middle{
    display: flex;
    margin-top: 49px;
    margin-bottom:122px ;
}

header #middle h3{
    width: 637px;
    height: 105px;
    font-size: var(--fztitle);
    line-height: 62px;
    color: var(--fcolor);
    margin: 0px;
    margin-left: 30px;
}
header #middle p{
    color: var(--fco);
    font-size: var(--fzp);
    width: 610px;
    margin-left: 149px;
}
header #middle h1{
    background-color: var(--bg3);
    width: 25px;
    height: 140px;
    margin: 0px;
    margin-left: 135px;
}
header #bot{
    color: var(--fcnormal);
    text-transform: capitalize;
}
header #bot #firewater{
    background-image: url("../img/img/Rectangle\ 7.png");
    background-size: cover;
    width:639px;
    height: 636px;
    position: relative;
    float: left;
    margin-right: 40px;
}
header #bot #khung{
    background-color: var(--bg3);
    opacity: 0.7;
    width: 639px;
    height: 253px;
    padding:40px 60px;
    position: absolute;
    bottom: 0px;
    border-radius: 0px 0px 20px 20px;
}
header #bot #text{
    position: relative;
    margin-left: 60px;
    top:423px
}
header #bot p{
    width: 80%;
}
header #bot #button{
    background-color: var(--fcnormal);
    color: var(--bg3);
    width: 200px;
    height: 50px;
    border-radius:100px 0px 0px 100px; 
    border: none;
    font-size:var(--fznav);
    position: absolute;
    bottom: 37px;
    right: 0px;
}
header #bot #thewonton{
    background-image: url("../img/img/Rectangle\ 7\ \(1\).png");
    background-size: cover;
    width:639px;
    height: 636px;
    position: relative;
    float: left;
}

header #bot svg{
    position: absolute;
    bottom: 491px;
    right: 391px;
}