@use "../utils" as *;
@use "../globals" as *;

//Header
header{
    display: flex;
    section{
        width: 70%;
        height: auto;
        .left__top{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            h2{
                margin: 0 0 0 rem(133)
            }
            nav{
                display: flex;
                align-items: center;
                a{
                    margin-left: rem(40);
                }
            }    
        }
        .left__main{
            h1{
                margin-left:rem(124);
            }
            h3{
            margin-left:rem(132);
            width: 75%;
            margin-top: 0;
            }
            .search{
                display: flex;
                max-width: rem(670);
                margin-left:rem(135);
                background-color:var(--color-white);
                #text{
                    width: 70%;
                    width: 100%;
                    padding: rem(36);
                    border: none;
                }
                #button{
                    width: 30%;
                    margin:rem(9) rem(11) rem(9) 0;
                    height: auto;
                    border: none;
                    border-radius: rem(60) 0 0 0;
                    background-color: var(--color-red);
                }
            }
        }
        .left__bottom{
            max-width: rem(280);
            background-color: var(--color-red);
            border-radius: 0 rem(100) rem(100) 0;
            margin-top: rem(215);
            display: flex;
            align-items: center;
            // justify-content: space-around;
            img{
                width: rem(25);
                display: inline-block;
                margin-left: rem(32);
                margin-right: rem(20);
            }
            h4{
                display: inline-block;
                margin: rem(17);
            }
        }
    }
    aside{
        width: 30%;
        background-color: var(--color-red);
        height: auto;
        .right__top{
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: rem(23);
            margin-left: rem(70);
            p{
                margin: rem(15);
            }
        }
        .right__main{
            margin-top: rem(50);
            #food{
                width: 45%;
                position: absolute;
                right: 10%;
                z-index: 2;
            }
            #lecture{
                width: 35%;
                position: absolute;
                right: 10%;
                top: -5%;
                z-index: 1;
            }
        }
        .right__bottom{
            width: auto;
            margin-top: rem(900);
            margin-bottom: rem(194);
            margin-left: rem(207);
        }
    }
}

// Restaurant
.restaurant{
    width: auto;
    height: auto;
    padding-bottom: rem(200) ;
    .restaurant__top{
        display: flex;
        margin-top: rem(49);
        .top_left{
            width: 40%;
            height: auto;
            display: flex;
            align-items: center;
            margin-left: rem(135);
            margin-right: rem(149);
            div{
                width: 5%;
                height: 8rem;
                background-color: var(--color-red);
                margin-right: rem(30);
            }
        }
        .top_right{
            width: 35%;
            height: auto;
        }
    }
    .restaurant__bot{
        margin-top: rem(150);
        display: grid;
        grid-template-columns: 1fr 1fr 1fr ;
        grid-gap: rem(40);
        height: auto;
        .fire-water{
            background-image: url(../../../img/restaurant/Rectangle\ 7.png);
            background-repeat: no-repeat;
            background-size: cover;
            padding-top: rem(500);
            #content{
                background-color: var(--color-red-op7);
                padding: rem(40) rem(60);
                position: relative;
                img{
                    display: inline-block;
                    margin-right: rem(20);
                }
                p{
                    display: inline-block;
                }
                input{
                    padding: rem(20) rem(64);
                    position: absolute;
                    right: 0;

                }
            }
        }
        .woton{
            background-image: url(../../../img/restaurant/Rectangle\ 7-1.png);
            background-repeat: no-repeat;
            background-size: cover;
            padding-top: rem(500);
            #content{
                background-color: var(--color-red-op7);
                padding: rem(40) rem(60);
                position: relative;
                img{
                    display: inline-block;
                    margin-right: rem(20);
                }
                p{
                    display: inline-block;
                }
                input{
                    padding: rem(20) rem(64);
                    position: absolute;
                    right: 0;

                }
            }
        }
        .see-more{
            margin: auto 0;
        }
    }
}

//Booking
.booking{
    background-color: var(--color-bg2);
    height: auto;
    // padding: rem(265) rem(415) rem(265) rem(275);
    padding-top: rem(265);
    position: relative;
    padding-bottom: rem(265);
    .booking__main{
        margin: 0 auto;
        margin-right: rem(415);
        width: 70%;
        height: auto;
        background-color: var(--color-white);
        text-align: center;
        padding: rem(100) rem(100) rem(120) rem(250);
        .main__top{
            #redline{
                margin: 0 auto;
                width: 20%;
                height: rem(15);
                background-color: var(--color-red);
            }
            h2{
                margin-top: rem(20);
            }
        }
        .main__mid{
            .booking__search{
                width: 100%;
                margin: 0 auto;
                display: flex;
                max-width: rem(670);
                margin-left:rem(135);
                margin-top: rem(60);
                background-color:var(--color-white);
                box-shadow: rem(2) rem(2) rem(30) rem(2) var(--color-bg1);
                #text{
                    width: 70%;
                    width: 100%;
                    padding: rem(36);
                    border: none;
                }
                #button{
                    width: 30%;
                    margin:rem(14) rem(14) rem(14) 0;
                    height: auto;
                    border: none;
                    // border-radius: rem(60) 0 0 0;
                    background-color: var(--color-red);
                }
            }
        }
        .main__bot{
            display: flex;
            justify-content: center;
            padding-top: rem(60);
            .main_bot1{
                width: 20%;
                #main__bot--item1{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    p{
                        margin-right: rem(10);
                        
                    }
                }
            }
            .main_bot2{
                width: 20%;
                #main__bot--item2{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    p{
                        margin-right: rem(10);         
                    }
                }
            }
            .main_bot3{
                width: 20%;
                #main__bot--item3{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    p{
                        margin-right: rem(10);
                        
                    }
                }
            }
            
        }
    }
    #booking_lecture{
        width: 32%;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translate(0,-50%);
    }
    #booking_caithia{
        position: absolute;
        right: 0;
        top: 50%;
        transform: translate(0, -50%);
    }

}

//Service
.services{
        height: auto;
        .services__top{
            display: flex;
            margin-top: rem(163);
            .top__left{
                width: 40%;
                height: auto;
                display: flex;
                align-items: center;
                margin-left: rem(135);
                margin-right: 0;
                div{
                    width: 5%;
                    height: 8rem;
                    background-color: var(--color-red);
                    margin-right: rem(30);
                }
            }
            .top__right{
                width: 35%;
                height: auto;
            }
        }
        .services__bot{
            display: flex;
            padding: rem(150) rem(135);
            justify-content: space-between;
            #bot__left{
                width: 55%;
                #left1{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    #left1__img{
                        background-color: var(--color-bg2);
                        padding: rem(90);
                    }
                    #left1__text{
                        width: 40%;
                    }
                }
                #left2{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    #left2__img{
                        background-color: var(--color-bg2);
                        padding: rem(90);
                    }
                    #left2__text{
                        width: 40%;
                    }
                }
            }
            #bot__right{
                width: 40%;
                background-color: var(--color-bg2);
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-evenly;
                #right__text{
                    width: 50%;
                    text-align: center;
                    div{
                        background-color: red;
                        width: rem(192);
                        height: rem(3);
                        margin: 0 auto;
                    }
                }
            }
        }
}

//explore
.explore{
    height: auto;
    padding: rem(50) rem(150);
    .exp__top{
        width: 60%;
        margin: 0 auto;
        text-align: center;
        h2{}
        p{
            width: 50%;
            margin: 0 auto;
            margin-top: rem(50);
            margin-bottom: rem(50);
        }
    }
    .exp__bot{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .exp__item{
            width: 31%;
            background-color: var(--color-white);
            margin-bottom: rem(50);
            img{
                width: 100%;
            }
            .item__text{
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                padding: rem(20);
                h3{
                    width: 50%;
                    margin: 0;
                }
                h4{
                    width: 50%;
                    text-align: right;
                    margin: 0;
                }
                p{
                    width: 50%;
                }
            }
        }
    }
}

//app
.app{
    height: auto;
    padding: rem(300) rem(150) ;
    position: relative;
    .app__left{
        .left__top{
            display: flex;
            align-items: center;
            div{
                height: 100px;
                width: 20px;
                background-color: var(--color-red);
                margin-right: rem(30);
            }
            h2{
                width: 40%;
            }
        }
        .left__bot{
            text-align: left;
            p{
                width: 40%;
            }
        }
    }
    #phone{
        position: absolute;
        right: 10%;
        top: 50%;
        transform: translate(0,-50%);
        width: 25%;
        z-index: 2;
    }
    #lecture{
        position: absolute;
        right: 15%;
        top: 50%;
        width: 30%;
        transform: translate(0,-50%);
    }

}

//footer
footer{
    height: 1000px;
    display: flex;
    .left{}
    .main{}
    .right{}
}