@use "../utils" as *;
@use "../globals" as *;

//Header
header{
    section{
        .left__top{
            h2{
                color: var(--color-red);
                font-size: em(72);
                line-height: rem(108);
                font-weight: 700;
            }
            nav{
                a{
                    text-decoration: none;
                    color:var(--color-text-grey) ;
                }
            }
        }
        .left__main{
            h1{
                color: var(--color-text-blue);
                opacity: 0.05;
                font-size: em(200);
                line-height: rem(300);
                font-weight: 900;
            }
            h3{
                color: var(--color-text-blue);
                font-size: em(72);
                // line-height: rem(48);
                font-weight: 700;
            }
            .search{
                display: flex;
                max-width: rem(670);
                margin-left:rem(135);
                background-color:var(--color-white);
                #text{
                    font-size: em(18);
                }
                #button{
                    font-size: em(30);
                    color: var(--color-white);
                    font-weight: 600;
                }
            }
        }
        .left__bottom{
            h4{
                color: var(--color-white);
                font-size: em(30);
                // line-height: rem(90);
                font-weight: 500;
            }
        }
    }
    aside{
        .right__top{
            color: var(--color-white);
            img{
                background-color: var(--color-white);
                border-radius: 50%;
            }
        }
    }
}

//Restaurant
.restaurant{
    .restaurant__top{
        .top_left{
            h2{
                color: var(--color-text-blue);
                font-size: em(48);
                font-weight: 500;
                line-height: rem(62);
            }
        }
        .top_right{
            p{
                font-size: em(14);
                line-height: rem(24);
                font-weight: 400;
            }
        }
    }
    .restaurant__bot{
        .fire-water{
            border-radius: 20px;
            #content{
                color: var(--color-white);
                border-radius: 0px 0px 20px 20px;
                input{
                    color: var(--color-red);
                    border-radius: rem(100) 0 0 rem(100);
                    border: none;
                }
            }
        }
        .woton{
            border-radius: 20px;
            #content{
                color: var(--color-white);
                border-radius: 0px 0px 20px 20px;
                input{
                    color: var(--color-red);
                    border-radius: rem(100) 0 0 rem(100);
                    border: none;
                }
            }
        }
        .see-more{
        }
    }
}

//Booking
.booking{
    .booking__main{
        .main__top{
            h2{
                text-transform: none;
                color: var(--color-text-blue);
                font-size: em(36);
                line-height: rem(24);
                font-weight: 500;
            }
        }
        .main__mid{
            .booking__search{
                #text{
                    font-size: em(16);
                    font-weight: 400;
                    color: var(--color-text-grey);
                }
                #button{
                    font-size: em(30);
                    color: var(--color-white);
                    font-weight: 600;
                    // line-height: rem(90);
                }
            }
        }
        .main__bot{
            p{
                color: var(--color-text-blue);
                font-size: em(16);
                font-weight: 400;
            }
            i{
                color: var(--color-red);
            }
            h1{
                color: var(--color-text-blue);
                font-size: em(16);
                font-weight: 400;
                opacity: 0.6;
            }
        }
    }
}

//Service
.services{
    .services__top{
        .top__left{
            h2{
                color: var(--color-text-blue);
                font-size: em(48);
                font-weight: 500;
                line-height: rem(62);
            }
        }
        .top__right{
            p{
                color: var(--color-text-grey);
                font-size: em(14);
                line-height: rem(24);
                font-weight: 400;
            }
        }
    }
    .services__bot{
        h1{
            color: var(--color-text-blue);
            font-size: em(24);
            font-weight: 500;
        }
        p{
            color: var(--color-text-grey);
            font-size: em(16);
            font-weight: 400;
        }
    }
}

//explore
.explore{
    .exp__top{
        h2{
            font-size: em(48);
            color: var(--color-text-blue);
            font-weight: 500;
        }
        p{
            font-size: em(14);
            color: var(--color-text-grey);
            font-weight: 400;
        }
    }
    .exp__bot{
        .exp__item{
            border-radius: rem(25);
            h3{
                font-size: em(24);
                font-weight: 500;
                color: var(--color-text-blue);
            }
            h4{
                font-size: em(24);
                color: var(--color-red);
                font-weight: 700;
            }
            p{
                font-size: em(14);
                color: var(--color-text-grey);
                font-weight: 400;
            }
        }
    }
}

//app
.app{
    background-color: var(--color-bg2);
    .app__left{
        .left__top{
            div{}
            h2{
                font-size: em(48);
                font-weight: 500;
                color: var(--color-text-blue);
            }
        }
        .left__bot{
            p{
                color: var(--color-text-grey);
                font-size: em(14);
                font-weight: 400;
            }
        }
    }
}