* {
  box-sizing: border-box;
}

h2, h1, h3 p {
  margin: 0;
}

body {
  background-color: var(--color-bg1);
  font-family: "Poppins", sans-serif;
  margin: 0;
  text-transform: capitalize;
}

:root {
  --color-bg1: #FFF5EC;
  --color-bg2: #FFEDDE;
  --color-red: #FE043C;
  --color-text-blue: #2E266F;
  --color-text-grey: #707070;
  --color-white:white;
  --color-red-op7: hsla(347, 99%, 51%, 0.7);
}

header {
  display: flex;
}
header section {
  width: 70%;
  height: auto;
}
header section .left__top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
header section .left__top h2 {
  margin: 0 0 0 8.3125rem;
}
header section .left__top nav {
  display: flex;
  align-items: center;
}
header section .left__top nav a {
  margin-left: 2.5rem;
}
header section .left__main h1 {
  margin-left: 7.75rem;
}
header section .left__main h3 {
  margin-left: 8.25rem;
  width: 75%;
  margin-top: 0;
}
header section .left__main .search {
  display: flex;
  max-width: 41.875rem;
  margin-left: 8.4375rem;
  background-color: var(--color-white);
}
header section .left__main .search #text {
  width: 70%;
  width: 100%;
  padding: 2.25rem;
  border: none;
}
header section .left__main .search #button {
  width: 30%;
  margin: 0.5625rem 0.6875rem 0.5625rem 0;
  height: auto;
  border: none;
  border-radius: 3.75rem 0 0 0;
  background-color: var(--color-red);
}
header section .left__bottom {
  max-width: 17.5rem;
  background-color: var(--color-red);
  border-radius: 0 6.25rem 6.25rem 0;
  margin-top: 13.4375rem;
  display: flex;
  align-items: center;
}
header section .left__bottom img {
  width: 1.5625rem;
  display: inline-block;
  margin-left: 2rem;
  margin-right: 1.25rem;
}
header section .left__bottom h4 {
  display: inline-block;
  margin: 1.0625rem;
}
header aside {
  width: 30%;
  background-color: var(--color-red);
  height: auto;
}
header aside .right__top {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1.4375rem;
  margin-left: 4.375rem;
}
header aside .right__top p {
  margin: 0.9375rem;
}
header aside .right__main {
  margin-top: 3.125rem;
}
header aside .right__main #food {
  width: 45%;
  position: absolute;
  right: 10%;
  z-index: 2;
}
header aside .right__main #lecture {
  width: 35%;
  position: absolute;
  right: 10%;
  top: -5%;
  z-index: 1;
}
header aside .right__bottom {
  width: auto;
  margin-top: 56.25rem;
  margin-bottom: 12.125rem;
  margin-left: 12.9375rem;
}

.restaurant {
  width: auto;
  height: auto;
  padding-bottom: 12.5rem;
}
.restaurant .restaurant__top {
  display: flex;
  margin-top: 3.0625rem;
}
.restaurant .restaurant__top .top_left {
  width: 40%;
  height: auto;
  display: flex;
  align-items: center;
  margin-left: 8.4375rem;
  margin-right: 9.3125rem;
}
.restaurant .restaurant__top .top_left div {
  width: 5%;
  height: 8rem;
  background-color: var(--color-red);
  margin-right: 1.875rem;
}
.restaurant .restaurant__top .top_right {
  width: 35%;
  height: auto;
}
.restaurant .restaurant__bot {
  margin-top: 9.375rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2.5rem;
  height: auto;
}
.restaurant .restaurant__bot .fire-water {
  background-image: url(../../../img/restaurant/Rectangle\ 7.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 31.25rem;
}
.restaurant .restaurant__bot .fire-water #content {
  background-color: var(--color-red-op7);
  padding: 2.5rem 3.75rem;
  position: relative;
}
.restaurant .restaurant__bot .fire-water #content img {
  display: inline-block;
  margin-right: 1.25rem;
}
.restaurant .restaurant__bot .fire-water #content p {
  display: inline-block;
}
.restaurant .restaurant__bot .fire-water #content input {
  padding: 1.25rem 4rem;
  position: absolute;
  right: 0;
}
.restaurant .restaurant__bot .woton {
  background-image: url(../../../img/restaurant/Rectangle\ 7-1.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 31.25rem;
}
.restaurant .restaurant__bot .woton #content {
  background-color: var(--color-red-op7);
  padding: 2.5rem 3.75rem;
  position: relative;
}
.restaurant .restaurant__bot .woton #content img {
  display: inline-block;
  margin-right: 1.25rem;
}
.restaurant .restaurant__bot .woton #content p {
  display: inline-block;
}
.restaurant .restaurant__bot .woton #content input {
  padding: 1.25rem 4rem;
  position: absolute;
  right: 0;
}
.restaurant .restaurant__bot .see-more {
  margin: auto 0;
}

.booking {
  background-color: var(--color-bg2);
  height: auto;
  padding-top: 16.5625rem;
  position: relative;
  padding-bottom: 16.5625rem;
}
.booking .booking__main {
  margin: 0 auto;
  margin-right: 25.9375rem;
  width: 70%;
  height: auto;
  background-color: var(--color-white);
  text-align: center;
  padding: 6.25rem 6.25rem 7.5rem 15.625rem;
}
.booking .booking__main .main__top #redline {
  margin: 0 auto;
  width: 20%;
  height: 0.9375rem;
  background-color: var(--color-red);
}
.booking .booking__main .main__top h2 {
  margin-top: 1.25rem;
}
.booking .booking__main .main__mid .booking__search {
  width: 100%;
  margin: 0 auto;
  display: flex;
  max-width: 41.875rem;
  margin-left: 8.4375rem;
  margin-top: 3.75rem;
  background-color: var(--color-white);
  box-shadow: 0.125rem 0.125rem 1.875rem 0.125rem var(--color-bg1);
}
.booking .booking__main .main__mid .booking__search #text {
  width: 70%;
  width: 100%;
  padding: 2.25rem;
  border: none;
}
.booking .booking__main .main__mid .booking__search #button {
  width: 30%;
  margin: 0.875rem 0.875rem 0.875rem 0;
  height: auto;
  border: none;
  background-color: var(--color-red);
}
.booking .booking__main .main__bot {
  display: flex;
  justify-content: center;
  padding-top: 3.75rem;
}
.booking .booking__main .main__bot .main_bot1 {
  width: 20%;
}
.booking .booking__main .main__bot .main_bot1 #main__bot--item1 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.booking .booking__main .main__bot .main_bot1 #main__bot--item1 p {
  margin-right: 0.625rem;
}
.booking .booking__main .main__bot .main_bot2 {
  width: 20%;
}
.booking .booking__main .main__bot .main_bot2 #main__bot--item2 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.booking .booking__main .main__bot .main_bot2 #main__bot--item2 p {
  margin-right: 0.625rem;
}
.booking .booking__main .main__bot .main_bot3 {
  width: 20%;
}
.booking .booking__main .main__bot .main_bot3 #main__bot--item3 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.booking .booking__main .main__bot .main_bot3 #main__bot--item3 p {
  margin-right: 0.625rem;
}
.booking #booking_lecture {
  width: 32%;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(0, -50%);
}
.booking #booking_caithia {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(0, -50%);
}

.services {
  height: auto;
}
.services .services__top {
  display: flex;
  margin-top: 10.1875rem;
}
.services .services__top .top__left {
  width: 40%;
  height: auto;
  display: flex;
  align-items: center;
  margin-left: 8.4375rem;
  margin-right: 0;
}
.services .services__top .top__left div {
  width: 5%;
  height: 8rem;
  background-color: var(--color-red);
  margin-right: 1.875rem;
}
.services .services__top .top__right {
  width: 35%;
  height: auto;
}
.services .services__bot {
  display: flex;
  padding: 9.375rem 8.4375rem;
  justify-content: space-between;
}
.services .services__bot #bot__left {
  width: 55%;
}
.services .services__bot #bot__left #left1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.services .services__bot #bot__left #left1 #left1__img {
  background-color: var(--color-bg2);
  padding: 5.625rem;
}
.services .services__bot #bot__left #left1 #left1__text {
  width: 40%;
}
.services .services__bot #bot__left #left2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.services .services__bot #bot__left #left2 #left2__img {
  background-color: var(--color-bg2);
  padding: 5.625rem;
}
.services .services__bot #bot__left #left2 #left2__text {
  width: 40%;
}
.services .services__bot #bot__right {
  width: 40%;
  background-color: var(--color-bg2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.services .services__bot #bot__right #right__text {
  width: 50%;
  text-align: center;
}
.services .services__bot #bot__right #right__text div {
  background-color: red;
  width: 12rem;
  height: 0.1875rem;
  margin: 0 auto;
}

.explore {
  height: auto;
  padding: 3.125rem 9.375rem;
}
.explore .exp__top {
  width: 60%;
  margin: 0 auto;
  text-align: center;
}
.explore .exp__top p {
  width: 50%;
  margin: 0 auto;
  margin-top: 3.125rem;
  margin-bottom: 3.125rem;
}
.explore .exp__bot {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.explore .exp__bot .exp__item {
  width: 31%;
  background-color: var(--color-white);
  margin-bottom: 3.125rem;
}
.explore .exp__bot .exp__item img {
  width: 100%;
}
.explore .exp__bot .exp__item .item__text {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 1.25rem;
}
.explore .exp__bot .exp__item .item__text h3 {
  width: 50%;
  margin: 0;
}
.explore .exp__bot .exp__item .item__text h4 {
  width: 50%;
  text-align: right;
  margin: 0;
}
.explore .exp__bot .exp__item .item__text p {
  width: 50%;
}

.app {
  height: auto;
  padding: 18.75rem 9.375rem;
  position: relative;
}
.app .app__left .left__top {
  display: flex;
  align-items: center;
}
.app .app__left .left__top div {
  height: 100px;
  width: 20px;
  background-color: var(--color-red);
  margin-right: 1.875rem;
}
.app .app__left .left__top h2 {
  width: 40%;
}
.app .app__left .left__bot {
  text-align: left;
}
.app .app__left .left__bot p {
  width: 40%;
}
.app #phone {
  position: absolute;
  right: 10%;
  top: 50%;
  transform: translate(0, -50%);
  width: 25%;
  z-index: 2;
}
.app #lecture {
  position: absolute;
  right: 15%;
  top: 50%;
  width: 30%;
  transform: translate(0, -50%);
}

footer {
  height: 1000px;
  display: flex;
}
header section .left__top h2 {
  color: var(--color-red);
  font-size: 4.5em;
  line-height: 6.75rem;
  font-weight: 700;
}
header section .left__top nav a {
  text-decoration: none;
  color: var(--color-text-grey);
}
header section .left__main h1 {
  color: var(--color-text-blue);
  opacity: 0.05;
  font-size: 12.5em;
  line-height: 18.75rem;
  font-weight: 900;
}
header section .left__main h3 {
  color: var(--color-text-blue);
  font-size: 4.5em;
  font-weight: 700;
}
header section .left__main .search {
  display: flex;
  max-width: 41.875rem;
  margin-left: 8.4375rem;
  background-color: var(--color-white);
}
header section .left__main .search #text {
  font-size: 1.125em;
}
header section .left__main .search #button {
  font-size: 1.875em;
  color: var(--color-white);
  font-weight: 600;
}
header section .left__bottom h4 {
  color: var(--color-white);
  font-size: 1.875em;
  font-weight: 500;
}
header aside .right__top {
  color: var(--color-white);
}
header aside .right__top img {
  background-color: var(--color-white);
  border-radius: 50%;
}

.restaurant .restaurant__top .top_left h2 {
  color: var(--color-text-blue);
  font-size: 3em;
  font-weight: 500;
  line-height: 3.875rem;
}
.restaurant .restaurant__top .top_right p {
  font-size: 0.875em;
  line-height: 1.5rem;
  font-weight: 400;
}
.restaurant .restaurant__bot .fire-water {
  border-radius: 20px;
}
.restaurant .restaurant__bot .fire-water #content {
  color: var(--color-white);
  border-radius: 0px 0px 20px 20px;
}
.restaurant .restaurant__bot .fire-water #content input {
  color: var(--color-red);
  border-radius: 6.25rem 0 0 6.25rem;
  border: none;
}
.restaurant .restaurant__bot .woton {
  border-radius: 20px;
}
.restaurant .restaurant__bot .woton #content {
  color: var(--color-white);
  border-radius: 0px 0px 20px 20px;
}
.restaurant .restaurant__bot .woton #content input {
  color: var(--color-red);
  border-radius: 6.25rem 0 0 6.25rem;
  border: none;
}
.booking .booking__main .main__top h2 {
  text-transform: none;
  color: var(--color-text-blue);
  font-size: 2.25em;
  line-height: 1.5rem;
  font-weight: 500;
}
.booking .booking__main .main__mid .booking__search #text {
  font-size: 1em;
  font-weight: 400;
  color: var(--color-text-grey);
}
.booking .booking__main .main__mid .booking__search #button {
  font-size: 1.875em;
  color: var(--color-white);
  font-weight: 600;
}
.booking .booking__main .main__bot p {
  color: var(--color-text-blue);
  font-size: 1em;
  font-weight: 400;
}
.booking .booking__main .main__bot i {
  color: var(--color-red);
}
.booking .booking__main .main__bot h1 {
  color: var(--color-text-blue);
  font-size: 1em;
  font-weight: 400;
  opacity: 0.6;
}

.services .services__top .top__left h2 {
  color: var(--color-text-blue);
  font-size: 3em;
  font-weight: 500;
  line-height: 3.875rem;
}
.services .services__top .top__right p {
  color: var(--color-text-grey);
  font-size: 0.875em;
  line-height: 1.5rem;
  font-weight: 400;
}
.services .services__bot h1 {
  color: var(--color-text-blue);
  font-size: 1.5em;
  font-weight: 500;
}
.services .services__bot p {
  color: var(--color-text-grey);
  font-size: 1em;
  font-weight: 400;
}

.explore .exp__top h2 {
  font-size: 3em;
  color: var(--color-text-blue);
  font-weight: 500;
}
.explore .exp__top p {
  font-size: 0.875em;
  color: var(--color-text-grey);
  font-weight: 400;
}
.explore .exp__bot .exp__item {
  border-radius: 1.5625rem;
}
.explore .exp__bot .exp__item h3 {
  font-size: 1.5em;
  font-weight: 500;
  color: var(--color-text-blue);
}
.explore .exp__bot .exp__item h4 {
  font-size: 1.5em;
  color: var(--color-red);
  font-weight: 700;
}
.explore .exp__bot .exp__item p {
  font-size: 0.875em;
  color: var(--color-text-grey);
  font-weight: 400;
}

.app {
  background-color: var(--color-bg2);
}
.app .app__left .left__top h2 {
  font-size: 3em;
  font-weight: 500;
  color: var(--color-text-blue);
}
.app .app__left .left__bot p {
  color: var(--color-text-grey);
  font-size: 0.875em;
  font-weight: 400;
}

/*# sourceMappingURL=style.css.map */
