:root{
    --color-bg1: #FFF5EC;
    --color-bg2: #FFEDDE;
    --color-red: #FE043C;
    --color-text-blue: #2E266F;
    --color-text-grey: #707070;
    --color-white:white;
    --color-red-op7: hsla(347, 99%, 51%, 0.7);
    ;
}